@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$font-family-base: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$font-family-serif: 'Roboto Slab', 'Georgia', 'Times New Roman', serif;
$font-family-sans-serif: $font-family-base;
$font-size-base: 14px !default;

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

@import "~lightbox2/dist/css/lightbox.min.css";

body {
  padding-bottom: 30px;
}

h1, h2, h3 {
  font-family: $font-family-serif;
  font-weight: 400;
}

h1 {
  font-weight: 700;
}

.meta {
  font-size: 13pt;
}

.navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.navbar a {
  color: rgba(255, 255, 255, 0.8);
}

.navbar a:hover {
  background: none;
  color: rgba(255, 255, 255, 1.0);
}

.jumbotron, .minitron {
  margin-top: -25px;
  margin-bottom: 25px;
  background-position: 50% 50%;
  background-size: cover;
}

.jumbotron a {
  color: #ffffff;
  font-weight: bold;
}

.jumbotron {
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
  background-image: url(lake.jpg);
  color: #ffffff;
  padding-top: 120px;
}

.jumbotron p {
  color: rgba(220, 220, 220, 1.0);
  margin-bottom: 30px;
}

.jumbotron .btn {
  text-shadow: none;
  font-weight: normal;
}

.minitron {
  height: 100px;
  background-image: url(lake-sm.jpg);
}

.images-block h3, .attachments-block h3, .address-block h3 {
  margin-top: 0px;
}

.light-block, .grey-block, .images-block, .attachments-block, .address-block, .pullquote-block, .image-block, .youtube-block {
  padding: 20px;
}

.full-width, .over-wide {
  margin-top: 20px;
  margin-bottom: 20px;
}

.grey-block, .images-block, .attachments-block, .address-block, .youtube-block {
  background-color: #EAEAEA;
}

@media print {
  .grey-block, .images-block, .attachments-block, .address-block, .youtube-block {
    border: 1px solid #EAEAEA;
  }
}

.images-block img {
  margin: 2px 0px 2px 0px;
}

.youtube-block .embed-responsive {
  margin: 15px;
  margin-top: 0px;
}

.light-block {
  border: 1px solid #EAEAEA;
}

.attachments-block ul {
  padding-left: 0px;
  list-style-type: none;
}

.windfinder-block .row .embed-responsive {
  width: 715px;
  height: 300px;
  margin: auto;
}

.windy-block .row .embed-responsive {
  height: 600px;
  margin: auto;
}

.label.label-xs {
  font-size: 40%;
}

blockquote {
  font-size: $font-size-base;
  background-color: #fafafa;
}

.pullquote-block {
  blockquote {
    font-family: $font-family-serif;
    border: none;
    margin: 0;
    padding: 10px;
    font-size: 140%;
    font-weight: 400;
    letter-spacing: 1px;
  }

  blockquote::before{
    content: "\201C"; /*Unicode for Left Double Quote*/

    /*Font*/
    font-family: Georgia, serif;
    font-size: 80px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.15);

    /*Positioning*/
    position: absolute;
    left: 20px;
    top: 8px;
  }
}

footer {
  margin-top: 20px;
  padding-top: 30px;
  border-top: 1px solid #EAEAEA;
}

.contact div {
  padding-bottom: 10px;
}

.build {
  color: #E9E9E9;
}

.col-md-16 {
  @extend .col-md-12;

  @media (min-width: $screen-md-min) {
    width: percentage(16 / 12);
  }
}

table {
  @extend .table;
  @extend .table-striped;
}

.sm-embed-responsive-4by3 {
  @media (max-width: $screen-sm-min) {
    padding-bottom: 75%;
  }
}

@media print {
  .minitron, .jumbotron, .wiki-edit, footer {
    display: none;
  }
}

.alert a {
  text-decoration: underline;
  font-weight: 700;
}

@mixin fontawesome-icon {
  font-family: FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main a[href^='tel:'] {
  &:after {
    @include fontawesome-icon();
    content: ' \f098';
  }
}

main a.map:after, main .edit-buttons a:after {
  content: none;
}

@media screen {
  main a[href*='//'] {
    &:after {
      @include fontawesome-icon();
      content: ' \f14c';
      font-weight: normal;
    }
  }
}

@media print {
  main a[data-lightbox] {
    &:after {
      content: '';
    }
  }

  .breadcrumb, .edit-buttons {
    display: none;
  }
}
