{% macro render_blog_post(post, from_index=false) %}
  <div class="row blogpost">
    <div class="col-md-offset-2 col-md-8">
      {% if from_index %}
        <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
      {% else %}
        <h1>{{ post.title }}</h1>
      {% endif %}

      <p class="meta">
        <strong>{{ post.pub_date|datetimeformat('dd.MM.YYYY') }}</strong> von <strong>{{ post.author }}</strong>
      </p>
      {% if from_index %}
        {% for blk in post.body.blocks[:(post.abbreviation or 3)] %}
          {{ blk }}
        {% endfor %}
      {% else %}
        {% for blk in post.body.blocks %}
          {{ blk }}
        {% endfor %}
      {% endif %}
    </div>

    <div class="col-md-offset-2 col-md-8">
      {% if from_index and post.body.blocks|length > (post.abbreviation or 3) %}
        <a class="btn btn-block light-block clearfix" href="{{ post|url }}">Weiter lesen</a>
      {% endif %}
    </div>
  </div>
{% endmacro %}
