{% macro render_pagination(pagination) %}
  <ul class="pager">
    {% if pagination.has_prev %}
      <li class="previous">
        <a href="{{ pagination.prev|url }}"><i class="fa fa-fw fa-chevron-left" aria-hidden="true"></i> Ältere Beiträge</a>
      </li>
    {% else %}
      <li class="previous disabled">
        <span><i class="fa fa-fw fa-chevron-left" aria-hidden="true"></i> Ältere Beiträge</span>
      </li>
    {% endif %}
    {% if pagination.has_next %}
      <li class="next">
        <a href="{{ pagination.next|url }}">Neuere Beiträge <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i></a>
      </li>
    {% else %}
      <li class="next disabled">
        <span>Neuere Beiträge <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i></span>
      </li>
    {% endif %}
  </ul>
{% endmacro %}
