{% block widget %}
  {% block prefix %}{% endblock %}
  {% if this.class|trim == 'over-wide' %}
    <div class="{{ this.class }} {% block overwideclass %}col-md-pull-1 col-md-14{% endblock %}">
  {% elif this.class|trim == 'full-width' %}
    <div class="{{ this.class }} {% block fullwidthclass %}col-md-12{% endblock %}">
  {% else %}
    <div class="{{ this.class }} {% block class %}col-md-6{% endblock %}">
  {% endif %}
  {% block content %}{% endblock %}
  </div>
  {% block suffix %}{% endblock %}
{% endblock %}
