{% block widget %}
  {% if not this.class or this.class|trim == 'full-width' %}
      </div> <!-- hack: we are closing the encapsulating columns and row -->
    </div>
    <div class="row">
      <div class="{{ this.class }} {% block fullwidthclass %}col-md-12{% endblock %}">
  {% else %}
    <div class="{{ this.class }} {% block class %}col-md-6{% endblock %}">
  {% endif %}
  {% block content %}{% endblock %}
  {% if not this.class or this.class|trim == 'full-width' %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
  {% else %}
    </div>
  {% endif %}
{% endblock %}
