{% extends "macros/widget.html" %}
{% set image = record.attachments.images.get(this.image) %}
{% block content %}
<div class="image-block">
  <div class="thumbnail">
    <a href="{{ image|url }}" data-lightbox="{{ this|id }}" data-title="{{ this.body|striptags }}">
      <img src="{{ image.thumbnail(this.width, this.height or this.width * 9 // 16, crop=this.crop)|url }}" alt="{{ this.body|striptags }}" />
    </a>
    {% if this.body %}
      <div class="caption">
        {{ this.body }}
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
{% block class %}{% endblock %}
