{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <h1>{{ this.title }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        {% for year, ylist in this.children|groupby('datetime_start.year') %}
          {% for month, list in ylist|groupby('datetime_start.month') %}
            <h2>{{ list[0].datetime_start|datetimeformat('MMMM yyyy') }}</h2>
            {% for child in list %}
              <h3>
                <a href="{{ child|url }}">
                  {{ child.title }}
                  <small class="pull-right">{{ child.datetime_start|datetimeformat('dd.MM. HH:mm') }}</small>
                </a>
              </h3>
            {% endfor %}
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
