{% extends "page.html" %}
{% block class %}home{% endblock %}
{% block intro %}
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <h1 class="display-3">Willkommen!</h1>
          <p>
            <span>
              Dies ist die inoffizielle Website des Wassersportzentrums der FAU Erlangen-Nürnberg.
              Wir bieten eine breite Auswahl an Aktivitäten, wie <a href="{{ '/kurse/' | url }}">Segelkurse für Anfänger</a>,
              <a href="{{ '/kurse/' | url }}">Regattatraining</a>, und weitere <a href="{{ '/kalender/' | url }}">Events</a>.
            </span>
          </p>
          <p><a class="btn btn-warning btn-lg" href="{{ '/kurse/' | url }}" role="button">Lerne Segeln <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i></a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
