{% extends "page.html" %}
{% block class %}home{% endblock %}
{% block intro %}
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <h1 class="display-3">Willkommen!</h1>
          <p>
            <span>
              Dies ist die inoffizielle Website des Wassersportzentrums der FAU Erlangen-Nürnberg.
              Wir bieten eine breite Auswahl an Aktivitäten, von <a href="{{ '/courses/' | url }}">Segelkursen für Anfänger</a>
              bis zur Hilfe beim Erhalt von <a href="{{ '/sigs/yachting/' | url }}">Yacht-Segellizenzen und Segeltörns auf dem Meer</a>.
            </span>
          </p>
          <p><a class="btn btn-warning btn-lg" href="{{ '/kurse/' | url }}" role="button">Lerne Segeln <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
