<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/static/gen/styles.css'|asseturl }}" />
  <title>{% block title %}Welcome{% endblock %} — WSpZ</title>
</head>
<body class="{% block class %}{% endblock %}">

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">WSpZ</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              {% for id, item in bag('menu').items() %}
                <li{% if this.is_child_of(item.path) %} class="active"{% endif
                  %}><a href="{{ item.path|url }}">{{ item.label }}</a></li>
              {% endfor %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  </nav>

  {% block intro %}
    <div class="minitron"></div>
  {% endblock %}
  {% block body %}{% endblock %}
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 contact">
          <a class="btn btn-default" href="https://www.facebook.com/groups/209470149101598/">
            <i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook
          </a>
          <a class="btn btn-default" href="https://lists.fau.de/cgi-bin/listinfo/sport-segeln">
            <i class="fa fa-envelope" aria-hidden="true"></i> Mailing list
          </a>
          <span class="btn btn-default">
            <i class="fa fa-phone" aria-hidden="true"></i> +49 9144 924403
          </span>
        </div>
      </div>
    </div>
  </footer>
  <script type=text/javascript src="{{ '/static/gen/app.js'|asseturl }}" charset="utf-8"></script>
</body>
</html>
