<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/static/gen/styles.css'|asseturl }}" />
  <link rel="shortcut icon" type="image/x-icon" sizes="600x600" href="{{ '/favicon.jpg'|asseturl }}">
  <link rel="shortcut icon" type="image/x-icon" sizes="196x196" href="{{ '/favicon-196x196.jpg'|asseturl }}">
  <link rel="shortcut icon" type="image/x-icon" sizes="64x64" href="{{ '/favicon-64x64.jpg'|asseturl }}">
  <meta name="title" content="{% block title %}Wassersportzentrum der FAU{% endblock %}">
  <meta name="description" content="Inoffizielle Website des Wassersportzentrums der FAU">
  <meta name="keywords" content="Segeln, Unijolle, Hobie Cat 16, SUP, Brombachsee, Friedrich-Alexander-Universität Erlangen-Nürnberg, FAU, Wassersportzentrum, WSpZ">
  <title>{% block title %}Willkommen{% endblock %} — Wassersportzentrum der FAU</title>
  {% block head %}{% endblock %}
</head>
<body class="{% block class %}{% endblock %}">

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Navigation einblenden</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" title="Wassersportzentrum der FAU">WSpZ</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              {% for id, item in bag('menu').items() %}
                <li{% if this.is_child_of(item.path) %} class="active"{% endif
                  %}>
                  <a href="{{ item.path|url }}">
                    <i class="fa fa-fw fa-{{ item.icon }}" aria-hidden="true"></i>
                    {{ item.label }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  </nav>

  {% block intro %}
    <div class="minitron"></div>
  {% endblock %}

  <main>
    {% block body %}{% endblock %}
  </main>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8 contact">
          <div class="col-sm-4 text-center">
            <i class="fa fa-fw fa-phone-square" aria-hidden="true"></i>
            <a href="tel:+49-9144-924403">
              +49 9144 924403
            </a>
          </div>
          <div class="col-sm-4 text-center">
            <i class="fa fa-fw fa-envelope" aria-hidden="true"></i>
            <a href="https://lists.fau.de/cgi-bin/listinfo/sport-segeln">
              Mailing Liste
            </a>
          </div>
          <div class="col-sm-4 text-center">
            <i class="fa fa-fw fa-facebook-official" aria-hidden="true"></i>
            <a href="https://www.facebook.com/groups/209470149101598/">
              Facebook
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="hidden-xs col-md-offset-2 col-md-8 build">
          <div class="col-sm-6 text-center">
            Build ID {{ "(unknown)" | env_override("COMMIT_REF") | truncate(length=7, killwords=True, end='', leeway=None) }}
          </div>
          <div class="col-sm-6 text-center">
            Build Date {{ now() | strftime("%Y/%m/%d %H:%M") }}
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="{{ '/static/gen/styles.js'|asseturl }}"></script>
  {% block script %}
    <script src="{{ '/static/gen/app.js'|asseturl }}"></script>
  {% endblock %}
</body>
</html>
