{% extends "layout.html" %}
{% from "macros/breadcrumbs.html" import render_breadcrumbs %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        {{ render_breadcrumbs(this) }}
        <div class="btn-group pull-right">
          <a href="https://github.com/nils-werner/wspz/tree/master/content{{ this.path.split('@')[0] }}/contents.lr" class="btn btn-default btn-sm">
            <i class="fa fa-fw fa-pencil" aria-hidden="true"></i> bearbeiten
          </a>
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <span class="fa fa-caret-down"></span>
             <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="https://github.com/nils-werner/wspz/issues/new?title=Vorschlag%20fuer%20{{ this.path.split('@')[0] }}/contents.lr" class="btn-sm">
                <i class="fa fa-fw fa-github" aria-hidden="true"></i> Änderung vorschlagen (GitHub)
              </a>
            </li>
            <li>
              <a href="https://github.com/nils-werner/wspz/commits/master/content{{ this.path.split('@')[0] }}/contents.lr" class="btn-sm">
                <i class="fa fa-fw fa-history" aria-hidden="true"></i> Historie ansehen
              </a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="{{ '/wiki/hilfe/'|url }}" class="btn-sm">
                <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i> Formatierungs-Hilfe
              </a>
            </li>
          </ul>
        </div>
        <h1>
          {{ this.title }}
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        {% for blk in this.body.blocks %}
          {{ blk }}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
